html{


}

body{
  position: relative;
  background-color: #EEEEEE;
  margin: 0px;
  padding: 0px;
}

.heading{
  color: white;
  padding: 0px 0px;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  font-size: 21px;
  box-shadow: 0 0 7px 5px #ADADAD;
}

.menu{
  position: absolute;
  top: 0;
  background: #dddddd;
  width: 300px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  border:1px solid #ccc;
  transition:.3s;
  z-index: 100;
  background-color: #FFFFFF;
  left: -300px;
}

.menu.active{
  position: absolute;
  
  background-color: #FFFFFF;
  transform: translateX(300px);
}
.menu a, .menu.active a{
    color: #000000;
    text-decoration: none;
}

.menu a:hover, .menu.active a:hover{
    color: #000000;
    text-decoration: none;
}

#active{
  background-color: #1D9C5A;

}

#pending{
  background-color: #FCA725;
}

#suspended{
  background-color: orangered;
}

#drafts{
  background-color: #757575;
}

.main{
  position: relative;
  padding: 20px 150px;
}

.icon{
  padding: 19px 26px;

  margin: 0px;

}

.line-Title{
  color: #8B8B8B;
  height: 60px;
  line-height: 60px;
}

.lines{
  background-color: #FFFFFF;
  color: #444444;
  height: 60px;
  line-height: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #E0E0E0;
}

.text{

}

#margin-Title{
  padding: 0px 0px 0px 40px;
}

#margin-Name{
  font-weight: bold;
  padding: 0px 0px 0px 40px;
}

#margin-Ellipsis{
  padding: 0px 0px 0px 40px;
}
